a {
    text-decoration: none;
}
body {
    
    background-color:#ffffff;
    border-radius:10px;
    height:auto;
    padding:20px;
}

header {
    border-bottom: 2px solid black;
}

html {
    background-color:#00aaaa;
    background-image:linear-gradient(45deg, #00aaaa, yellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .my-avatar {
    width: 6em;
    height: 6em;
} */

#repositories {
    padding-inline-start: 5px;
}

#repos-div {
    background: #ccc;
    border-radius: 25px;
    margin:5px;
    padding: 5px;
}
